@import "tailwindcss";

.card {
  width: 250px;
  height: 280px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px;
  img {
    width: 250px;
    object-fit: contain;
    height: 150px;
  }
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 12px orange;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
.home {
  width: 60%;
  min-height: 60vh;
  margin: 0 auto;
  padding: 50px 0px;
  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 30px;
  }
  .link {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
      min-height: 50px;
      padding: 10px 15px;
      border: 1px solid black;
      border-radius: 5px;
      margin: 10px 10px;
      background-color: rgb(0, 0, 0);
      color: white;
      box-shadow: 0 0 10px;
      white-space: nowrap;

      &:hover {
        background-color: rgb(46, 97, 75);
        color: rgb(0, 0, 0);
      }
    }
  }
}
.tt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.contact {
  width: 80%;
  min-height: 100vh;
  margin: 0px auto;
  padding: 20px 10px;
}
.hisse {
  display: block;
  min-height: auto;
}
.hisse-1 {
  width: 100%;
  min-height: 40vh;
  padding: 20px 5px;
  h1 {
    font-size: 1.4em;
    font-weight: 500;
    padding-bottom: 20px;
  }
  p {
    padding-bottom: 30px;
  }
  a {
    min-height: 50px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 0 10px;
    white-space: nowrap;
    &:hover {
      background-color: rgb(46, 97, 75);
      color: rgb(0, 0, 0);
    }
  }
}
.dord {
  width: 100%;
  height: 200px;
  padding: 0px 10px;
  span {
    height: 4px;
    background-color: chartreuse;
    padding: 0 50px;
    color: red;
    border-radius: 10px;
  }
}

.dort {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.carddetail {
   min-height: 80vh;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   img{
    width: 300px;
   }
   .cardimage, .cardtitle{
    width: 500px;
   }
   .cardtitle{
    *{
      margin-bottom: 10px;
    }
   }
}

@media only screen and (min-width: 768px) {
  .hisse {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
